#header-presentation .container-fluid {
  position: relative;
  width: 100%;
}

#header-presentation .container {
  position: relative; 
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

#header-presentation .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#header-presentation img {
  width: 100%;
  height: auto;
}

#header-presentation .mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

#header-presentation .swiper-slide {
  background: url(../images/FON.jpg); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

#header-presentation .swiper-slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #000;
  opacity: 0.3; 
}

#header-presentation .wrap-img {
  -webkit-box-flex: 0 0 60%;
    -ms-flex: 0 0 60%;
      flex: 0 0 60%;
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

#header-presentation .link-button {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

#header-presentation .wrap-img-med {
  position: absolute;
  bottom: -4px;
  left: 0;
  max-width: 50%;
}

#header-presentation button {
  color: #fff;
  padding: 10px 15px;
  font-size: 15px;
  background: #d0351d;
  margin: 0;
  border: 0;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
}

#header-presentation button:hover, 
#header-presentation button:focus {
  background: #77271b;
  -webkit-transition: all .5s;
  transition: all .5s;
}

#header-presentation .swiper-button-next {
  top: 50%;
  margin-top: 0;
  background-image: url(../images/carousel-controls.png);
  background-size: 40px;
  background-position-x: -20px;
  width: 20px;
  height: 80px;
  -webkit-animation: move-r 3s infinite ease-in-out;
    animation: move-r 3s infinite ease-in-out;
}

#header-presentation .swiper-button-prev {
  top: 50%;
  margin-top: 0;
  background-image: url(../images/carousel-controls.png);
  background-size: 40px;
  background-position-x: 0;
  width: 20px;
  height: 80px;
  -webkit-animation: move-l 3s infinite ease-in-out;
    animation: move-l 3s infinite ease-in-out;
}

@-webkit-keyframes move-r {
  50% {
    -webkit-transform: translateX(10px);
      transform: translateX(10px);
  }
}

@keyframes move-r {
  50% {
    -webkit-transform: translateX(10px);
      transform: translateX(10px);
  }
}

@-webkit-keyframes move-l {
  50% {
    -webkit-transform: translateX(-10px);
      transform: translateX(-10px);
  }
}

@keyframes move-l {
  50% {
    -webkit-transform: translateX(-10px);
      transform: translateX(-10px);
  }
}

@media (min-width: 576px) {

  #header-presentation .container {max-width: 540px;}

  #header-presentation button {
    font-size: 18px;
  }

  #header-presentation .wrap-img {
    -webkit-box-flex: 0 0 60%;
    -ms-flex: 0 0 60%;
      flex: 0 0 60%;
    max-width: 60%;
  }

  #header-presentation .wrap-img-med {
    max-width: 300px;
  }

  #header-presentation .swiper-button-next {
    background-size: 60px;
    background-position-x: -30px;
    width: 30px;
    height: 80px;
  }
  
  #header-presentation .swiper-button-prev {
    background-size: 60px;
    background-position-x: 0;
    width: 30px;
    height: 80px;
  }
}

@media (min-width: 768px) {
  #header-presentation .container {max-width: 720px;}

  #header-presentation  .wrap-img {
    -webkit-box-flex: 0 0 40%;
    -ms-flex: 0 0 40%;
      flex: 0 0 40%;
    max-width: 40%;
    margin-left: 0;
    margin-right: 0;
  }

  #header-presentation .wrap-img-med {
    max-width: 300px;
  }

  #header-presentation .link-button {
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 0;
  }

  #header-presentation button {
    color: #fff;
    padding: 15px 30px;
    font-size: 15px;
  }

  #header-presentation .swiper-button-prev {
    right: 5%;
    left: auto;
    background-size: 60px;
    background-position-x: 0;
    width: 30px;
    height: 80px;
  }
}

@media (min-width: 992px) {
  #header-presentation .container {max-width: 970px;}
}

@media (min-width: 1200px) {
  #header-presentation .container {max-width: 1170px;}

  #header-presentation .wrap-img {
    -webkit-box-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
      flex: 0 0 50%;
    max-width: 50%;
  }

  #header-presentation .wrap-img-med {
    max-width: 300px;
  }
  
  #header-presentation .link-button {
    margin-top: 20px;
    margin-left: 12%;
  }

  #header-presentation button {
    padding: 10px 40px;
    font-size: 20px;
  }

  #header-presentation .swiper-button-prev {
    top: 50%;
    background-size: 80px;
    background-position-x: 0px;
    width: 40px;
    height: 80px;
  }

  #header-presentation .swiper-button-next {
    top: 50%;
    background-size: 80px;
    background-position-x: -40px;
    width: 40px;
    height: 80px;
  }
}

